:root {
  --gray-100: #fff;
  --gray-200: #d9d9d9;
  --gray-200: #808080;
  --gray-300: #707070;
  --gray-400: #363636;
  --gray-500: #222222;
  --gray-700: #1a1a1a;

  --blue-500: #4E6EDE;
  --green-500: #26C277;
  --yellow-500: #FFD231;
}

/* :focus {
  outline: transparent;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: all .3 ease-out;
}

body {
  background: var(--gray-500);
  color: var(--gray-100);
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

/* input,
button {
  border-radius: 8px;
  padding: 1rem;
}

input:hover,
button:hover {
  cursor: pointer;
} */

.wrapper {
  max-width: 46rem;
  margin: 0 auto;
  /* padding: 0 1rem 5rem 1rem; */

  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  /* align-items: center;
  justify-content: center; */
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }

  /* .wrapper {
    grid-template-columns: 1fr;
  } */
}